<template>
  <div>
    <h2 id="page-heading" data-cy="CreditHeading">
      <span v-text="$t('saveCashBankApp.credit.home.title')" id="credit-heading">Credits</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('saveCashBankApp.credit.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CreditCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-credit mr-2"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('saveCashBankApp.credit.home.createLabel')"> Create a new Credit </span>
          </button>
        </router-link>
        <download-csv class="btn btn-primary jh-create-entity create-invoice" :data="credits">
          <font-awesome-icon icon="plus"></font-awesome-icon>
          {{ $t('report') }}
        </download-csv>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && credits && credits.length === 0">
      <span v-text="$t('saveCashBankApp.credit.home.notFound')">No credits found</span>
    </div>
    <div class="table-responsive" v-if="credits && credits.length > 0">
      <table class="table table-striped" aria-describedby="credits">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.credit.score')">Score</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.credit.name')">Name</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.credit.time')">Time</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.credit.currencyUnit')">Currency Unit</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.credit.invoice')">Invoice</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="credit in credits" :key="credit.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CreditView', params: { creditId: credit.id } }">{{ credit.id }}</router-link>
            </td>
            <td>{{ credit.score }}</td>
            <td>{{ credit.name }}</td>
            <td>{{ credit.time }}</td>
            <td>{{ credit.currencyUnit }}</td>
            <td>
              <div v-if="credit.invoice">
                <router-link :to="{ name: 'InvoiceView', params: { invoiceId: credit.invoice.id } }">{{ credit.invoice.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'CreditView', params: { creditId: credit.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'CreditEdit', params: { creditId: credit.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(credit)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="saveCashBankApp.credit.delete.question" data-cy="creditDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-credit-heading" v-text="$t('saveCashBankApp.credit.delete.question', { id: removeId })">
          Are you sure you want to delete this Credit?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-credit"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCredit()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./credit.component.ts"></script>
