<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.credit.home.createOrEditLabel"
          data-cy="CreditCreateUpdateHeading"
          v-text="$t('saveCashBankApp.credit.home.createOrEditLabel')"
        >
          Create or edit a Credit
        </h2>
        <div>
          <div class="form-group" v-if="credit.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="credit.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.credit.score')" for="credit-score">Score</label>
            <input
              type="number"
              class="form-control"
              name="score"
              id="credit-score"
              data-cy="score"
              :class="{ valid: !$v.credit.score.$invalid, invalid: $v.credit.score.$invalid }"
              v-model.number="$v.credit.score.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.credit.name')" for="credit-name">Name</label>
            <input
              type="number"
              class="form-control"
              name="name"
              id="credit-name"
              data-cy="name"
              :class="{ valid: !$v.credit.name.$invalid, invalid: $v.credit.name.$invalid }"
              v-model.number="$v.credit.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.credit.time')" for="credit-time">Time</label>
            <input
              type="text"
              class="form-control"
              name="time"
              id="credit-time"
              data-cy="time"
              :class="{ valid: !$v.credit.time.$invalid, invalid: $v.credit.time.$invalid }"
              v-model="$v.credit.time.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.credit.currencyUnit')" for="credit-currencyUnit"
              >Currency Unit</label
            >
            <input
              type="text"
              class="form-control"
              name="currencyUnit"
              id="credit-currencyUnit"
              data-cy="currencyUnit"
              :class="{ valid: !$v.credit.currencyUnit.$invalid, invalid: $v.credit.currencyUnit.$invalid }"
              v-model="$v.credit.currencyUnit.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.credit.invoice')" for="credit-invoice">Invoice</label>
            <select class="form-control" id="credit-invoice" data-cy="invoice" name="invoice" v-model="credit.invoice">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="credit.invoice && invoiceOption.id === credit.invoice.id ? credit.invoice : invoiceOption"
                v-for="invoiceOption in invoices"
                :key="invoiceOption.id"
              >
                {{ invoiceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.credit.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./credit-update.component.ts"></script>
