<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.payment.home.createOrEditLabel"
          data-cy="PaymentCreateUpdateHeading"
          v-text="$t('saveCashBankApp.payment.home.createOrEditLabel')"
        >
          Create or edit a Payment
        </h2>
        <div>
          <div class="form-group" v-if="payment.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="payment.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.payment.name')" for="payment-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="payment-name"
              data-cy="name"
              :class="{ valid: !$v.payment.name.$invalid, invalid: $v.payment.name.$invalid }"
              v-model="$v.payment.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.payment.bankAccountNumber')" for="payment-bankAccountNumber"
              >Bank Account Number</label
            >
            <input
              type="number"
              class="form-control"
              name="bankAccountNumber"
              id="payment-bankAccountNumber"
              data-cy="bankAccountNumber"
              :class="{ valid: !$v.payment.bankAccountNumber.$invalid, invalid: $v.payment.bankAccountNumber.$invalid }"
              v-model.number="$v.payment.bankAccountNumber.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.payment.scoreNumber')" for="payment-scoreNumber"
              >Score Number</label
            >
            <input
              type="number"
              class="form-control"
              name="scoreNumber"
              id="payment-scoreNumber"
              data-cy="scoreNumber"
              :class="{ valid: !$v.payment.scoreNumber.$invalid, invalid: $v.payment.scoreNumber.$invalid }"
              v-model.number="$v.payment.scoreNumber.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.payment.invoice')" for="payment-invoice">Invoice</label>
            <select class="form-control" id="payment-invoice" data-cy="invoice" name="invoice" v-model="payment.invoice">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="payment.invoice && invoiceOption.id === payment.invoice.id ? payment.invoice : invoiceOption"
                v-for="invoiceOption in invoices"
                :key="invoiceOption.id"
              >
                {{ invoiceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.payment.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./payment-update.component.ts"></script>
