<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.card.home.createOrEditLabel"
          data-cy="CardCreateUpdateHeading"
          v-text="$t('saveCashBankApp.card.home.createOrEditLabel')"
        >
          Create or edit a Card
        </h2>
        <div>
          <div class="form-group" v-if="card.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="card.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.card.score')" for="card-score">Score</label>
            <input
              type="number"
              class="form-control"
              name="score"
              id="card-score"
              data-cy="score"
              :class="{ valid: !$v.card.score.$invalid, invalid: $v.card.score.$invalid }"
              v-model.number="$v.card.score.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.card.number')" for="card-number">Number</label>
            <input
              type="number"
              class="form-control"
              name="number"
              id="card-number"
              data-cy="number"
              :class="{ valid: !$v.card.number.$invalid, invalid: $v.card.number.$invalid }"
              v-model.number="$v.card.number.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.card.cvv')" for="card-cvv">Cvv</label>
            <input
              type="number"
              class="form-control"
              name="cvv"
              id="card-cvv"
              data-cy="cvv"
              :class="{ valid: !$v.card.cvv.$invalid, invalid: $v.card.cvv.$invalid }"
              v-model.number="$v.card.cvv.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.card.date')" for="card-date">Date</label>
            <input
              type="text"
              class="form-control"
              name="date"
              id="card-date"
              data-cy="date"
              :class="{ valid: !$v.card.date.$invalid, invalid: $v.card.date.$invalid }"
              v-model="$v.card.date.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.card.invoice')" for="card-invoice">Invoice</label>
            <select class="form-control" id="card-invoice" data-cy="invoice" name="invoice" v-model="card.invoice">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="card.invoice && invoiceOption.id === card.invoice.id ? card.invoice : invoiceOption"
                v-for="invoiceOption in invoices"
                :key="invoiceOption.id"
              >
                {{ invoiceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.card.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./card-update.component.ts"></script>
