<template>
  <div>
    <h2 id="page-heading" data-cy="CardHeading">
      <span v-text="$t('saveCashBankApp.card.home.title')" id="card-heading">Cards</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('saveCashBankApp.card.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CardCreate' }" custom v-slot="{ navigate }">
          <button @click="navigate" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-card mr-2">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('saveCashBankApp.card.home.createLabel')"> Create a new Card </span>
          </button>
        </router-link>
        <download-csv class="btn btn-primary jh-create-entity create-invoice" :data="cards">
          <font-awesome-icon icon="plus"></font-awesome-icon>
          {{ $t('report') }}
        </download-csv>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && cards && cards.length === 0">
      <span v-text="$t('saveCashBankApp.card.home.notFound')">No cards found</span>
    </div>
    <div class="table-responsive" v-if="cards && cards.length > 0">
      <table class="table table-striped" aria-describedby="cards">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.card.score')">Score</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.card.number')">Number</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.card.cvv')">Cvv</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.card.date')">Date</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.card.invoice')">Invoice</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="card in cards" :key="card.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CardView', params: { cardId: card.id } }">{{ card.id }}</router-link>
            </td>
            <td>{{ card.score }}</td>
            <td>{{ card.number }}</td>
            <td>{{ card.cvv }}</td>
            <td>{{ card.date }}</td>
            <td>
              <div v-if="card.invoice">
                <router-link :to="{ name: 'InvoiceView', params: { invoiceId: card.invoice.id } }">{{ card.invoice.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'CardView', params: { cardId: card.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'CardEdit', params: { cardId: card.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(card)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="saveCashBankApp.card.delete.question" data-cy="cardDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-card-heading" v-text="$t('saveCashBankApp.card.delete.question', { id: removeId })">
          Are you sure you want to delete this Card?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-card"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCard()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./card.component.ts"></script>
