<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="card">
        <h2 class="jh-entity-heading" data-cy="cardDetailsHeading">
          <span v-text="$t('saveCashBankApp.card.detail.title')">Card</span> {{ card.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('saveCashBankApp.card.score')">Score</span>
          </dt>
          <dd>
            <span>{{ card.score }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.card.number')">Number</span>
          </dt>
          <dd>
            <span>{{ card.number }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.card.cvv')">Cvv</span>
          </dt>
          <dd>
            <span>{{ card.cvv }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.card.date')">Date</span>
          </dt>
          <dd>
            <span>{{ card.date }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.card.invoice')">Invoice</span>
          </dt>
          <dd>
            <div v-if="card.invoice">
              <router-link :to="{ name: 'InvoiceView', params: { invoiceId: card.invoice.id } }">{{ card.invoice.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="card.id" :to="{ name: 'CardEdit', params: { cardId: card.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./card-details.component.ts"></script>
