<template>
  <div>
    <h2 id="page-heading" data-cy="ContributionHeading">
      <span v-text="$t('saveCashBankApp.contribution.home.title')" id="contribution-heading">Contributions</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('saveCashBankApp.contribution.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ContributionCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-contribution mr-2"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('saveCashBankApp.contribution.home.createLabel')"> Create a new Contribution </span>
          </button>
        </router-link>
        <download-csv class="btn btn-primary jh-create-entity create-invoice" :data="contributions">
          <font-awesome-icon icon="plus"></font-awesome-icon>
          {{ $t('report') }}
        </download-csv>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && contributions && contributions.length === 0">
      <span v-text="$t('saveCashBankApp.contribution.home.notFound')">No contributions found</span>
    </div>
    <div class="table-responsive" v-if="contributions && contributions.length > 0">
      <table class="table table-striped" aria-describedby="contributions">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.contribution.name')">Name</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.contribution.score')">Score</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.contribution.time')">Time</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.contribution.currencyUnit')">Currency Unit</span></th>
            <th scope="row"><span v-text="$t('saveCashBankApp.contribution.invoice')">Invoice</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="contribution in contributions" :key="contribution.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ContributionView', params: { contributionId: contribution.id } }">{{
                contribution.id
              }}</router-link>
            </td>
            <td>{{ contribution.name }}</td>
            <td>{{ contribution.score }}</td>
            <td>{{ contribution.time }}</td>
            <td>{{ contribution.currencyUnit }}</td>
            <td>
              <div v-if="contribution.invoice">
                <router-link :to="{ name: 'InvoiceView', params: { invoiceId: contribution.invoice.id } }">{{
                  contribution.invoice.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'ContributionView', params: { contributionId: contribution.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'ContributionEdit', params: { contributionId: contribution.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(contribution)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="saveCashBankApp.contribution.delete.question"
          data-cy="contributionDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-contribution-heading" v-text="$t('saveCashBankApp.contribution.delete.question', { id: removeId })">
          Are you sure you want to delete this Contribution?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-contribution"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeContribution()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./contribution.component.ts"></script>
