<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="contribution">
        <h2 class="jh-entity-heading" data-cy="contributionDetailsHeading">
          <span v-text="$t('saveCashBankApp.contribution.detail.title')">Contribution</span> {{ contribution.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('saveCashBankApp.contribution.name')">Name</span>
          </dt>
          <dd>
            <span>{{ contribution.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.contribution.score')">Score</span>
          </dt>
          <dd>
            <span>{{ contribution.score }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.contribution.time')">Time</span>
          </dt>
          <dd>
            <span>{{ contribution.time }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.contribution.currencyUnit')">Currency Unit</span>
          </dt>
          <dd>
            <span>{{ contribution.currencyUnit }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.contribution.invoice')">Invoice</span>
          </dt>
          <dd>
            <div v-if="contribution.invoice">
              <router-link :to="{ name: 'InvoiceView', params: { invoiceId: contribution.invoice.id } }">{{
                contribution.invoice.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="contribution.id"
          :to="{ name: 'ContributionEdit', params: { contributionId: contribution.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./contribution-details.component.ts"></script>
